<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <form (ngSubmit)="onSubmit(f)" #f> -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username"
            required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email>
            <!-- required is a directive -->
            <!-- email is a directive and validates the value of element -->
          </div>
          <p *ngIf="">Please enter a valid value!</p>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" ngModel name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- 

  Built-in Validators & Using HTML5 Validation
  Section 15, Lecture 181
  Which Validators do ship with Angular? 

  Check out the Validators class: https://angular.io/api/forms/Validators - these
   are all built-in validators, though that are the methods which actually get
    executed (and which you later can add when using the reactive approach).

  For the template-driven approach, you need the directives. You can find out
   their names, by searching for "validator" in the official
   docs: https://angular.io/api?type=directive - everything marked with "D" is a
   directive and can be added to your template.

  Additionally, you might also want to enable HTML5 validation (by default,
   Angular disables it). You can do so by adding the ngNativeValidate  to a
   control in your template.

 -->